body {
    background-image: linear-gradient(to top, #DCB4E3, #F6BACE,);
}

#cupcake {
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        transform: translateY(0px) rotate(0deg);
    }
    to {
        transform: translateY(540px) rotate(360deg);
    }
}
